// ====================REUSABLE CSS=================//

$header-height: 3rem;

// ============Colors=========//
$first-color: #3664f4;
$dark-color: #070d1f;
$dark-color-alt: #282b3a;
$white-color: #e6e7e9;

//============Font and typography=========//

$body-font: "poppins", "sans-serif";
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;

// Z-Index

$Z-fixed: 100;

@media screen and(min-width: 768px) {
	$normal-font-size: 1rem;
	$small-font-size: 0.875rem;
}

//============BASE=========//
*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: $header-height 0 0 0;
	font-family: $body-font;
	font-size: $normal-font-size;
	font-weight: 500;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

//============HEADER=========//

.header {
	width: 100%;
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 1.5rem;
	background-color: $dark-color;
	z-index: $Z-fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	color: $white-color;
}

.header-toggle {
	color: $white-color;
	font-size: 1.5rem;
	cursor: pointer;
}

// ==================NAV==============//

@media screen and (max-width: 768px) {
	.nav {
		position: fixed;
		top: 0;
		left: -100%;
		background-color: $dark-color;
		width: 80%;
		height: 100vh;
		padding: 1.5rem;
		z-index: $Z-fixed;
		transition: 0.5s;
	}
}

.show {
	left: 0;
}

.nav-content {
	height: 100%;
	grid-template-rows: max-content 1fr max-content;
	row-gap: 2rem;
}

.nav-close {
	position: absolute;
	right: 2rem;
	font-size: 1.3rem;
	background-color: $dark-color-alt;
	padding: 0.25rem;
	border-radius: 50%;
	color: $white-color;
	cursor: pointer;
}

.nav-menu {
	margin-top: 2rem;
}

.nav-link {
	color: $white-color;
	margin: 2.5rem 0;
	cursor: pointer;
	&:hover {
		color: $first-color;
	}
}

.nav-social {
	padding-top: 0.5rem;
	.nav-social-icon {
		font-size: 1.3rem;
		color: $white-color;
		margin-right: 1.3rem;
		transition: o.5s ease-in-out;
		cursor: pointer;
		&:hover {
			color: $first-color;
			transform: scale(1.3);
		}
	}
}

// ==============HOME SECTION==============//

.home-section {
	background: url(../images/Background.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	align-items: center;
	color: $dark-color;
}

.home-container {
	text-align: center;
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
	p {
		font-weight: 700;
		line-height: 2;
		top: -10px;
		position: relative;
	}
}

.service-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	ul {
		text-align: start;
		margin: 2rem 1rem 0.5rem;
		li {
			margin: 5px;
			cursor: pointer;
		}
	}
}

.service-items {
	display: grid;
	grid-template-columns: auto;
	.icon1 {
		color: $first-color;
		margin-right: 7px;
	}
}

// ===========FEATURES SECTION===========//

.features-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon {
		color: $first-color;
		font-size: 2rem;
	}
	p {
		padding: 0 2rem;
		text-align: center;
	}
}
